.page-projet h1,h2,h3 {
    text-align: center;
}

.présentation {
    margin-left:15px;
    margin-right: 15px;
}

.page-projet img {
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

.bouton-projet  {
    display: block;
    margin: auto;
}

.projet-articles {
    margin-top: 50px;
    margin-left: 0;
}

article {
    padding-bottom: 20px;
}

.projet-articles p {
    text-align: center;
    width: auto;
}

/*.projet-articles p,h2,h3 {
    margin-left:15px;
    margin-right: 15px;
}*/

.page-projet .projet-articles {
    background-color: #04003D;
}

.page-projet .projet-articles .pollution {
    background-color: #4D0119;
    border-top: #4D0119 solid;
}

.page-projet .projet-articles .solution {
    background-color: #003F1B;
    border-top: #003F1B solid ;
}
